/* Background color */
.bg-dark {
  background-color: black;
}
.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: cadetblue;
}

.bg-orange {
  background-color: orange;
}

/* Width */
.w-sm {
  width: 60px;
}

.w-md {
  width: 180px;
}

.w-xl {
  width: 360px;
}

/* Padding */
.p-sm {
  padding: 5px;
}

.p-md {
  padding: 15px;
}

.p-xl {
  padding: 30px;
}

/* Text color */
.text-light {
  color: white;
}

/* Border */
.border-sm {
  border: 1px solid;
}

.border-md {
  border: 2px solid;
}

.border-xl {
  border: 3px solid;
}

.borderRadius-sm {
  border-radius: 4px;
}

.borderRadius-md {
  border-radius: 8px;
}

.borderRadius-lg {
  border-radius: 12px;
}
